    <div class="card">
      <h3 class="card-header">Login</h3>
      <form id="login-form" class="card-body">
        <label class="form-label" for="email-login">Email</label>
        <input  id="email-login" type="text" autofocus="true" class="form-input" />

        <label class="form-label" for="password-login">Password</label>
        <input id="password-login" type="password" autofocus="true" class="form-input" />

        <div class="form-button-layout">
        <button type="submit" class="btn"><i class="fas fa-sign-in-alt" style="padding-right:8px;"></i>Login</button>
        <button class="btn-outline"><a class="link-blue" href="/signup"><i class="fas fa-user-plus" style="padding-right: 8px;"></i>Register</a></button>
        </div>
      </form>
    </div>
    
<script src="/javascript/login.js"></script>