<div class="card">
    <h3 class="card-header">Schedule New Vaccine Appointment</h3>
    <form class="card-body new-post-form" id="new-post-form">
        <label for="appointment-vax_service" class="form-label">Service</label>
        <input type="text" id="appointment-vax_service" name="appointment-vax_service" class="form-input" />


        <label class="form-label" for="date">Date</label>
        <input id="date" name="date" class="form-input" />

        <label class="form-label" for="time">Time</label>
        <input id="time" name="content" class="form-input" />


        <div class="form-button-layout">
        <button type="submit" class="btn">Create</button>
        </div>
    </form>
</div>

<script src="/javascript/add-appointment.js"></script>