    <div class="card">
      <h3 class="card-header">Register as a Patient</h3>
      <form id="signup-form" class="card-body">
        <label for="first_name-signup" class="form-label">First Name</label>
        <input id="first_name-signup" type="text" class="form-input" />

        <label for="last_name-signup" class="form-label">Last Name</label>
        <input id="last_name-signup" type="text" class="form-input" />

        <label for="phone-signup" class="form-label">Telephone Number (10 digit number no dashes)</label>
        <input id="phone-signup" type="text" class="form-input" />

        <label class="form-label" for="dob-signup">Date of Birth (MMDDYYYY)</label>
        <input  id="dob-signup" type="text" class="form-input" />

        <label class="form-label" for="address-signup">Address</label>
        <input  id="address-signup" type="text" class="form-input" />

        <label class="form-label" for="email-signup">Email</label>
        <input  id="email-signup" type="text" class="form-input" />

        <label class="form-label" for="password-signup">Password</label>
        <input  id="password-signup" type="password" class="form-input" />

        <div class="form-button-layout">
        <button type="submit" class="btn">Complete Registration</button>
        <button class="btn-outline"><a class="link-blue" href="/login"><i class="fas fa-sign-in-alt" style="padding-right:8px;"></i>Log in</a></button>
      </form>
      </div>
    </div>

<script src="/javascript/signup.js"></script>